.version.filled_css_sans /* version checker */
{
	color: #0000FB;
	background-color: #201965;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u309
{
	z-index: 46;
	width: 291px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: -100px;
}

#ppu271
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 243px;
}

#pu271
{
	width: 0.01px;
}

#u271
{
	z-index: 2;
	width: 475px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u272
{
	z-index: 4;
	width: 475px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u330-4
{
	z-index: 64;
	width: 475px;
	min-height: 25px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 30px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 29px;
	position: relative;
}

#pu278-40
{
	width: 0.01px;
	margin-top: 24px;
}

#u278-40
{
	z-index: 6;
	width: 475px;
	min-height: 760px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u278-5
{
	font-size: 25px;
	line-height: 30px;
	color: #7F7F7F;
	font-weight: normal;
}

#u278-3,#u278-8
{
	font-size: 25px;
	line-height: 30px;
	color: #7F7F7F;
	font-weight: bold;
}

#u278-2,#u278-6,#u278-9
{
	font-size: 25px;
	line-height: 30px;
	color: #B4B4B4;
	font-weight: bold;
}

#u278-11,#u278-12
{
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	color: #B4B4B4;
	font-weight: bold;
}

#u278-34
{
	font-weight: bold;
}

#u278-18,#u278-19,#u278-21,#u278-23,#u278-24,#u278-29,#u278-30,#u278-32,#u278-33,#u278-35,#u278-36,#u278-37
{
	font-size: 25px;
	text-align: left;
	line-height: 30px;
	color: #8C8C8C;
}

#u278-38
{
	font-size: 30px;
	text-align: left;
	line-height: 36px;
	color: #8C8C8C;
}

#u322-8
{
	z-index: 50;
	width: 475px;
	min-height: 10px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: left;
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
}

#u322,#u322-2,#u322-4,#u322-5
{
	font-weight: normal;
}

#u327-6
{
	z-index: 58;
	width: 475px;
	min-height: 17px;
	background-color: transparent;
	color: #BDBDBD;
	text-align: left;
	font-size: 25px;
	line-height: 30px;
	font-weight: normal;
	margin-top: 36px;
	position: relative;
}

#u314
{
	z-index: 48;
	width: 291px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

