.version.filled_css_sans /* version checker */
{
	color: #000008;
	background-color: #3B2306;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u309
{
	z-index: 37;
	width: 291px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: -100px;
}

#ppu271
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 243px;
}

#pu271
{
	width: 0.01px;
}

#u271
{
	z-index: 2;
	width: 475px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u272
{
	z-index: 4;
	width: 475px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u290-5
{
	z-index: 32;
	width: 475px;
	min-height: 16px;
	background-color: transparent;
	text-align: right;
	color: #BDBDBD;
	font-weight: bold;
	margin-top: 33px;
	position: relative;
}

#u290
{
	color: #B4B4B4;
}

#u278-26
{
	z-index: 6;
	width: 475px;
	min-height: 17px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#u278-2,#u278-3
{
	color: #B4B4B4;
	font-weight: bold;
}

#u278-5,#u278-6,#u278-8,#u278-10,#u278-11,#u278-13,#u278-14,#u278-16,#u278-18,#u278-20,#u278-22
{
	color: #8C8C8C;
}

#u278-24
{
	text-align: left;
	color: #8C8C8C;
}

#u314
{
	z-index: 39;
	width: 291px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

